---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="RAMP">
	<main>
		<h1><span class="text-gradient">RAMP</span></h1>
		<p class="instructions">
			Looking to elevate your organization's performance and boost team efficiency?
			<br />Look no further! I am thrilled to unveil our cutting-edge <strong>RAMP</strong> assessment platform, designed to revolutionize the way you evaluate your team's processes and capabilities.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="select-project"
				title="Team Health Check"
				body="Con esta herramienta, podrás realizar un seguimiento del progreso a lo largo del tiempo, establecer objetivos claros y realizar ajustes en tu enfoque de gestión según sea necesario."
			/>
			<Card
				href="select-project"
				title="QA Assessment"
				body="El propósito es evaluar de cerca el procesos de prueba, herramientas utilizadas, colaboración interdepartamental y la efectividad general de la estrategias de QA. Esto brindará una visión integral del desempeño actual y permitirá trazar un camino claro hacia la mejora continua."
			/>
			<Card
				href="select-project"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="select-project"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
		<br>
		<div class="card w-96 bg-base-100 shadow-xl">
			<figure><img src="/team_health_check.png" alt="Shoes" /></figure>
			<div class="card-body">
			  <h2 class="card-title">Team Health Check</h2>
			  <p>If a dog chews shoes whose shoes does he choose?</p>
			  <div class="card-actions justify-end">
				<button onclick="location.href='select-project';" class="btn btn-primary">Start</button>
			  </div>
			</div>
		</div>
		<div class="card w-96 bg-base-100 shadow-xl">
			<figure><img src="/qa_assessment.png" alt="Shoes" /></figure>
			<div class="card-body">
			  <h2 class="card-title">QA Assessment</h2>
			  <p>If a dog chews shoes whose shoes does he choose?</p>
			  <div class="card-actions justify-end">
				<button onclick="location.href='select-project';" class="btn btn-primary">Start</button>
			  </div>
			</div>
		</div>
		<br>
		<div class="stats shadow">
			<div class="stat">
			  <div class="stat-figure text-secondary">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
			  </div>
			  <div class="stat-title">Downloads</div>
			  <div class="stat-value">31K</div>
			  <div class="stat-desc">Jan 1st - Feb 1st</div>
			</div>
			<div class="stat">
			  <div class="stat-figure text-secondary">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path></svg>
			  </div>
			  <div class="stat-title">New Users</div>
			  <div class="stat-value">4,200</div>
			  <div class="stat-desc">↗︎ 400 (22%)</div>
			</div>
			<div class="stat">
			  <div class="stat-figure text-secondary">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path></svg>
			  </div>
			  <div class="stat-title">New Registers</div>
			  <div class="stat-value">1,200</div>
			  <div class="stat-desc">↘︎ 90 (14%)</div>
			</div>
		  </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
